header {
    font-size: 4em;
    margin-bottom: 25px;
}

#user-input {
    margin-bottom: 15px;
}

#forecast-container {
    display: flex;
    justify-content: space-around;
}

.forecast {
    border: 2px solid black;
}

li:hover {
    text-decoration: underline;
}