body {
    background-image: url('./images/weatherdash_bg_main.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.hidden {
    display: hidden;
}

.visible {
    display: visible;
}

p {
    font-size: 1.5em;
    color: black;
}

li {
    color: black;
    font-size: 1em;
}

header {
    font-size: 4em;
    margin-bottom: 25px;
}

.current-day {
    border-style: outset;
}

#searchBtn {
    background-color: rgb(83, 80, 80);
}

#user-input {
    margin-bottom: 15px;
}

#uvNum {
    display: inline;
    color: white;
}

#container-5-day {
    margin-top: 20px;
}

#forecast-container {
    display: flex;
    justify-content: space-around;
}

.forecast {
    border: 2px solid black;
}

.day5 {
    border-radius: 25px;
    margin: 8px;
    padding: 15px;
    border-style: outset;
}

li:hover {
    text-decoration: underline;
}

.bg {
    background: linear-gradient(to right, rgb(156, 151, 151), rgb(189, 184, 184), rgb(231, 225, 225));
}

.main-card {
    background-image: url('./images/weatherdash_bg_current.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.white-text {
    color: white;
}

.black-text {
    color: black;
}

.btn {
    background-color: rgb(207, 11, 11);
    color: white;
}

.btn:hover {
    color: black;
}